<html>

<center> <h2> Employee Information System </h2>

<br>
<br>
<br>
<a href="http://localhost:5000/addnewRecord"> New Record </a>

<form action="http://localhost:5000/filterrecords" method="POST">
<select name="dept">
    <option value="HR"> Human Resource </option>
    <option value="IT"> Information Technology </option>
    <option value="Sales"> Sales </option>
    <option value="Training"> Training and Development </option>
    <option value="All"> All Records </option>
    </select>
    <input type="submit" value="Filter">
</form>
<table>
    <tr bgcolor='Green'>
        <td > Name </td>
        <td > Operations </td>
        <td > Subject </td>
        <td > Operations </td>
    </tr>
    {% for record in records %}

        <tr>
                <td> <a href="http://localhost:5000/personaldetails/{{record[0]}}"> {{ record[1] }}</a></td>
                <td> <a href="http://localhost:5000/saveEditedRecord" {{record[2]}} </td>
                <td> {{record[4]}} </td>
                <td> <a href="#"> edit </a>
                    <a href="http://localhost:5000/deleteEmployee/{{record[0]}}"> delete </a>
                </td>
        </tr>

    {% endfor %}
</table>
</html>