<html>

<form action="http://localhost:5000/saveRecord" method="post">

Name:<input type="Text" name="na"><br>
Department:
<select name="dept">
    <option value="HR"> Human Resource </option>
    <option value="IT"> Information Technology </option>
    <option value="Sales"> Sales </option>
    <option value="Training"> Training and Development </option>

</select>
<br>
salary<input type="text" name="sal">
<br>
Subject:
<select name="subject">
    <option value="java"> Java Programming </option>
    <option value="sql"> SQL Development </option>
    <option value="php"> PHP Programming </option>
    <option value="python"> Python </option>

</select>
Marks:<input type="text" name="marks">
<br>
<input type="submit" value="send">

</form>

</html>